#mapid { 
    height: 70vh; 
    flex: 2;
}

.tab-container{
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
    height: 100vh;
}

.playground{
    display: flex;
    flex-direction: row;
}

.question-card{
    width: 25%;
}

.map-card{
    width: 100%;
}

@media (max-width: 500px){
    .playground{
        display: flex;
        flex-direction: column;
        padding-right: 55px;
    }

    #mapid { 
        flex: 1;
        height: 50vh;
    }

    .question-card{
        width: 100%;
    }

    .tab-container{
        padding-left: 10px;
        padding-right: 10px;
        height: 100vh;
    }
}