#mapid { 
    height: 70vh; 
    flex: 2;
}

.tab-container{
    padding-left: 250px;
    padding-right: 250px;
    text-align: justify;
    height: 100vh;
}

.playground{
    display: flex;
    flex-direction: row;
}

.question-card{
    width: 20%;
}

.map-card{
    width: 80%;
}

@media (max-width: 500px){
    .playground{
        display: flex;
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    #mapid { 
        flex: 1;
        /* height: 90%; */
        height: 50vh;
    }

    .question-card{
        width: 80%;
    }

    .tab-container{
        padding-left: 10px;
        padding-right: 10px;
            height: 100vh;
    }
}